body {
  background: #09640e;
}
.card {
  text-align: center;
  display: inline-block;
  background: white;
  margin: auto;
  height: 180px;
  width: 200px;
  padding: 20px;
  padding-top: 120px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  font-size: 55px;
}

.card::before {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 55px;
}

.card::after {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 55px;
}
.card.spade:before,
.card.spade:after {
  content: "\2660";
}

.card.heart:before,
.card.heart:after {
  color: red;
  content: "\2665";
}

.card.club:before,
.card.club:after {
  content: "\2663";
}

.card.diamond:before,
.card.diamond:after {
  color: red;
  content: "\2666";
}
